<!--Buscador digimones-->
<div class="row justify-content-center mb-3 mt-2">
  <div class="text-center">
    <h2>Digimones</h2>
  </div>
  <div class="col-md-8">
    <input class="form-control" name="filter" [(ngModel)]="filter" type="text" placeholder="Buscar..">
  </div>
</div>


<!--Tabla para los Digimones-->
<div class="row justify-content-center">
  <div class="col-md-6">
    <table class="table table-dark table-hover">
      <thead class="thead-dark">
        <tr>
          <th class="text-center">Nombre</th>
          <th class="text-center">Digimon</th>
          <th class="text-center">Level</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of digimones | digimonFilter:filter |paginate: { itemsPerPage: 15, currentPage: page }">
          <td class="text-center">{{item.name}}</td>
          <td class="text-center"><img src="{{item.img}}" alt="pokemon" style="height:100px; width: 100px;"></td>
          <td class="text-center">{{item.level}}</td>
        </tr>
      </tbody>
    </table>
    <div class="container" style="text-align: center;" *ngIf="(digimones | digimonFilter : filter).length == 0">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>No se encontraron resultados.</strong>
      </div>
    </div>
    <hr>
    <div class="container" style="text-align: center;">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>

  </div>
</div>

<!-- <div class="row justify-content-center">
  <div class="card" style="width: 10rem;" *ngFor="let digimon of digimones">
    <img src="{{digimon.img}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{digimon.name}}</h5>
      <p class="card-text">{{digimon.level}}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div> -->